/* by Rainamira Azzahra */
.routine {
    margin: 0;
    padding: 0;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}


.video-player{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.routine h2{
    padding-bottom: 5px;
}

.timer-wrapper{
    display: flex;
    flex: column;
    justify-content: center;
    padding: 20px 0;
}

button {
    margin-bottom: 20px;
}

.time p {
    padding: 5px;
}
