.activitybarRow {
    display: flex;
    align-items: center;
    color: antiquewhite;
}

.activitybarRow_title {
    flex: 1;
    margin-left: 10px;
    font-size: 12px;
    font-weight: bold;
}

.activitybarRow_status {
    font-size: 10px;
    font-weight: normal;
}

.activitybarRow:hover {
    background: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.activitybar{
    flex: 0.2;
    background: #262626;
    min-height: 100vh !important;
    z-index: 100;
}