.jumb{
    position: relative;
    left: 0px;
    top: 0px;
    padding-top: 300px;
    background: #C5EBF8;
}

.overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    z-index: 3;
}

.front{
    position: relative;
    z-index: 5;
}

.btn-custom{
    color: #014F86;
    background-color: white;
}