.template-routine {
    flex: 0.8;
    padding: 0 55px;
}

.template-routine h2 {
    margin-top: 20px;
}

.customs {
    flex-direction: column;
    padding: 20px 0px ;
}

.custom .routineCard {
    display: flex;
    margin: 0px 0px 20px 0px;
}

.custom .routineCard .routineCard_info {
    margin: 0px 20px;
}

.custom {
    flex: 0 0 19.7%;
    transition: transform 300ms ease 100ms;
}

.customs:hover .custom {
    transform: translateY(-15%);
 }

 .custom:hover ~ .custom {
    transform: translateY(15%);
 }

.custom:hover {
    transform: scale(1.05) !important;
}

.routineCard img {
    width: 200px;
    border-radius:5px;
}

.templates {
    display: flex;
    padding: 20px 0px ;
}

.template {
    flex: 0 0 19.7%;
    text-align: center;
    margin: 0 15px 0px 0px;
    transition: transform 300ms ease 100ms;
}

.templates:hover .template {
    transform: translateX(-15%);
 }

.template:hover ~ .template {
    transform: translateX(15%);
}

.template:hover {
    transform: scale(1.25) !important;
}

.create .image {
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 11%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  .middle p {
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }

  .customs:hover .image {
    opacity: 0.5;
  }

  .customs:hover .middle {
    opacity: 1;
  }